<div>
     <div class="row text-center cent-block">
         <div class="col-lg-12">
             <h1>Create new user:</h1>
         </div>
     </div>
    <div class="row text-center cent-block">
        <div class="col-lg-12">
            <input type="text" id="fname" placeholder="First Name" />
            <input type="text" id="lname" placeholder="Last Name"/>
            <input type="email" id="email" placeholder="Email"/>
            <input type="password" id="psw" placeholder="Password"/>
            <input type="password" id="psw2" placeholder="Password again" />
            <button class="btn-success" id="saveBtn">Mentes</button>
        </div>
    </div>
</div>
